<!doctype html>
<html style="overscroll-behavior-y: none;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVHS Holiday Parade</title>
    <!-- <link rel="icon" href="../static/amador_logo.png"> -->
    <link rel="icon" href="{{url_for('static',filename='amador_logo.png')}}">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <!-- <script src="../static/js/jquery.flurry.js"></script>
    <script src="../static/js/index.js"></script>
    <link href="../static/css/main.css" rel="stylesheet"> -->
    <script src="{{url_for('static',filename='js/jquery.flurry.js')}}"></script>
    <script src="{{url_for('static',filename='js/index.js')}}"></script>
</head>

<body>
    <nav class="bg-violet-900 p-3">
        <div class="flex items-center justify-center">
            <a href=""><button class="hover:bg-violet-950/60 text-white pt-1 pb-1 pl-3 pr-3 rounded">Parade</button></a>
            <div class="flex items-center text-violet-300 text-2xl font-bold pl-3 pr-3 md:text-3xl lg:text-3xl">
                <!-- <img src="../static/amador_logo.png" class="h-8 md:h-10 lg:h-10"> -->
                <img src="{{url_for('static',filename='amador_logo.png')}}" class="h-8 md:h-10 lg:h-10">
                <p class="pl-1 pb-1">AVHS</p>
            </div>
            <a href="about.html"><button class="hover:bg-violet-950/60 text-white pt-1 pb-1 pl-3 pr-3 rounded">About</button></a>
        </div>
    </nav>
    <section id="livestream" class="relative bg-gradient-to-b from-violet-300 to-white to-25%"> 
        <h1 class="relative text-2xl md:text-5xl lg:text-5xl font-extrabold text-center pt-10 text-purple-500 uppercase z-10">Happy Holidays,</h1>
        <p class="relative text-xl font-extrabold text-center text-violet-600 uppercase z-10">Pleasanton Families!</p>
        <div id="countdown-container" class="relative mt-5 mb-5 flex justify-center z-10 md:mt-12 md:mb-10 lg:mt-12 lg:mb-10">
            <div id="countdown" class="bg-white flex justify-center items-center w-4/5 rounded-3xl p-5 pb-6 border md:w-3/5 md:p-16 md:pb-20 lg:w-3/5 lg:p-16 lg:pb-20">
                <!-- <img src="../static/xmas_decor.png" class="absolute h-2/3 hidden md:block md:h-1/2 lg:h-2/3" style="top: -3rem; left: 16%">
                <img src="../static/xmas_decor.png" class="absolute h-2/3 rotate-180 hidden md:block md:h-1/2 lg:h-2/3" style="bottom: -3rem; right: 16%">
                <img src="../static/xmas_decor_flipped.png" class="absolute h-2/3 hidden md:block md:h-1/2 lg:h-2/3" style="top: -3rem; right: 16%">
                <img src="../static/xmas_decor_flipped.png" class="absolute h-2/3 rotate-180 hidden md:block md:h-1/2 lg:h-2/3" style="bottom: -3rem; left: 16%"> -->
                <img src="{{url_for('static',filename='xmas_decor.png')}}" class="absolute h-2/3" style="top: -3rem; left: 16%">
                <img src="{{url_for('static',filename='xmas_decor.png')}}" class="absolute h-2/3 rotate-180" style="bottom: -3rem; right: 16%">
                <img src="{{url_for('static',filename='xmas_decor_flipped.png')}}" class="absolute h-2/3" style="top: -3rem; right: 16%">
                <img src="{{url_for('static',filename='xmas_decor_flipped.png')}}" class="absolute h-2/3 rotate-180" style="bottom: -3rem; left: 16%">
                <div class="text-center">
                    <p class="">The AVHS Holiday Parade begins in...</p>
                    <p id="timer" class="text-4xl font-extrabold text-yellow-600 md:text-7xl lg:text-7xl">Countdown</p>
                    <p class="mt-2">We can't wait to see you there!</p>
                </div>
            </div>
        </div>
        <div class="hidden relative w-full flex justify-center pt-8 z-10 md:pt-12 lg:pt-12" id="livestream-video"><iframe class="z-10 w-5/6 h-64 md:w-2/3 md:h-96 lg:w-3/5 lg:h-96" style="border-radius: 10px;" src="https://www.youtube.com/embed/KFw6TTKPV3Q?si=o10cjqZOqRIdf6F3&amp;autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe></div>
        <!-- <img class="w-full" src="../static/snowdrift_wide.svg"> -->
        <img src="{{url_for('static',filename='snowdrift_wide.svg')}}" class="w-full">
    </section>
    <section id="footer" class="relative bg-violet-950 p-10 pb-8 flex items-center justify-center">
        <!-- <img src="../static/holiday_parade_logo.svg" class="h-15 md:h-20 lg:h-20"> -->
        <img src="{{url_for('static',filename='holiday_parade_logo.svg')}}" class="h-15 md:h-20 lg:h-20">
    </section>
</body>
</html>