<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
</head>

<body>
    <nav class="bg-violet-900 p-4">
        <div class="flex items-center justify-between">
            <button class="bg-violet-50/30 text-white pt-1 pb-1 pl-3 pr-3 rounded">Hello</button>
        </div>
    </nav>
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>
</body>
</html>